img {
  border-radius: 3px;
  max-height: 550px;
  max-width: 800px;
  width: auto;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


iframe {
  width: 100%;
  height: 80%;
}

a {
  color: blue;
  text-decoration: underline;
}

ul {
  list-style: initial;
}

h2 {
  font-size: 1.1em;
  font-weight: bold;
}


.hide {
  display: none;
}

.impress-on-step-1 .step {
  opacity: 1;
  cursor: pointer;
}

#step-1 {
  background-image: none;
}

.slide {
  background-image: url(img/logo.jpg);
  background-repeat: no-repeat;
  background-size: 90px;
  background-position: 98% 98%;
}

p {
  padding-bottom: 20px;
  text-align: justify;
}

strong {
  color: #444;
}
